.container {
    width: 700px;
    height: 350px;
    background-image: url('https://www.gaiaherbs.com/cdn/shop/articles/Burdock_1103_1024x.jpg?v=1686797074');
    background-size: cover;
    background-position: center;
}

.container img {
    display: block;
    margin: 0 auto;
}
