<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="testCampaign.html">
</head>

<style>
    .container {
        width: 700px;
        height: 350px;
        background-image: url('https://www.gaiaherbs.com/cdn/shop/articles/Burdock_1103_1024x.jpg?v=1686797074');
        background-size: cover;
        background-position: center;
    }
</style>

<body>
    <h1>hEllo</h1>
    <!-- <div class="container" width:500px height:500px style="background-image: url('https://www.gaiaherbs.com/cdn/shop/articles/Burdock_1103_1024x.jpg?v=1686797074');"></div> -->

    <div class="container" style="display: flex; justify-content: center; align-items: center;">
<img src="https://images-eu.ssl-images-amazon.com/images/I/818BDQZ-8hL._AC_UL210_SR210,210_.jpg" alt="">
    
    </div>
</body>
</html>